{% extends 'base.html.twig' %}

{% block title %}AIDb - Home{% endblock %}

{% block body %}
<div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    
    {# Welcome Message #}
    <h1 class="text-4xl font-bold tracking-tight text-indigo-600">
        Hi {% if app.user %}{{ app.user.displayName | default(app.user.email) }}{% else %}Guest{% endif %},
    </h1>
    <p class="mt-2 text-xl text-black">
        Welcome to AIDB, the best place for album reviews + info.
    </p>
</div> 
{% endblock %}
