{% extends 'base.html.twig' %}

{% block title %}New Review{% endblock %}

{% block body %}
    <h1>Create new Review</h1>

    {{ include('review/_form.html.twig') }}

    <a href="{{ path('app_album_show', {'id': album.id}) }}">back to album</a>
{% endblock %}
